.mainDiv {
    display: flex;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: black;
    align-items: center;
    overflow: hidden;
    width: 20vw;
}

.cardDiv {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cardDivChanged {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  display: flex;
    width: 50%;
    height: 100%;
}

.cardName {
    color: #E01E37;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    font-weight: 100;
}

span {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
}

.statsDivGeneral {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}


.statsDiv1, .statsDiv2 {
  display: flex;
  flex-direction: column;
}

.stats {
    width: 5vw;
}

.stats::-webkit-meter-bar{
    background: none;
    background-color: grey;
    border: solid white 1px;
    height: 1em;
    border-radius: none;
}
.stats::-webkit-meter-optimum-value, .stats::-webkit-meter-suboptimum-value, .stats::-webkit-meter-even-less-good-value{
    background: none;
    background-image: linear-gradient( 90deg, 
                                     #641220 10%, 
                                     #6E1423 20%, 
                                     #85182A 30%,
                                     #A11D33 40%,
                                     #A71E34 50%,
                                     #B21E35 60%,
                                     #BD1F36 70%,
                                     #C71F37 80%,
                                     #DA1E37 90%,
                                     #E01E37 100%);
}

.details {
    color: #E01E37;
    background-color: inherit;
    font-size: small;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 1;
    
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 7vh;
    height: 5vh;
    background-color: inherit;
    border: none;
    align-items: center;
    z-index: 2;
    position: absolute;
    align-self: flex-start;
  }
  
  .buttonClose {
    cursor: pointer;
    display: flex;
    background-color: inherit;
    z-index: 2;
  }

.bar1, .bar2, .bar3 {
    width: 4vh;
    height: 1vh;
    border-radius: 1vh;
    background-color: #E01E37;
  }
  
  .barchanged1 {
    transform: rotate(-45deg) translate(-0.5vh, 0.5vh);
    transition: transform 0.3s ease-in-out;
  }
  
  .barchanged2 {
    display: none;
  }
  
  .barchanged3 {
    transform: rotate(45deg) translate(-1vh, -1vh);
    transition: transform 0.3s ease-in-out;
  }

  @media (max-width: 860px) {
    .mainDiv {
      width: 100%;
    }
    .stats{
      width: auto;
    }

    .powerStatsDiv {
      display: flex;
      flex-direction: column;
    }
  }
