.mainDiv {
    display: flex;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: black;
    align-items: center;
    overflow: hidden;
}

.cardDiv, .cardDiv1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cardDiv1 {
  height: auto;
  display: none;
}

.cardDiv2 {
  display: flex;
}

.image {
    width: 50%;
}

.cardName {
    color: #E01E37;
    margin: 0;
}

.stats {
    width: 20vw;
}

.stats::-webkit-meter-bar{
    background: none;
    background-color: grey;
    border: solid white 1px;
    height: 1em;
    border-radius: none;
}
.stats::-webkit-meter-optimum-value, .stats::-webkit-meter-suboptimum-value, .stats::-webkit-meter-even-less-good-value{
    background: none;
    background-image: linear-gradient( 90deg, 
                                     #641220 10%, 
                                     #6E1423 20%, 
                                     #85182A 30%,
                                     #A11D33 40%,
                                     #A71E34 50%,
                                     #B21E35 60%,
                                     #BD1F36 70%,
                                     #C71F37 80%,
                                     #DA1E37 90%,
                                     #E01E37 100%);
}

.details {
    color: white;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10vh;
    height: 6vh;
    background-color: inherit;
    border: none;
    align-items: center;
    z-index: 1;
    position: absolute;
    align-self: flex-end;
  }
  
  .buttonClose {
    cursor: pointer;
    display: flex;
    background-color: inherit;
    z-index: 1;
  }

.bar1, .bar2, .bar3 {
    width: 5vh;
    height: 1vh;
    border-radius: 1vh;
    background-color: #E01E37;
  }
  
  .barchanged1 {
    transform: rotate(-45deg) translate(-0.5vh, 0.5vh);
    transition: transform 0.3s ease-in-out;
  }
  
  .barchanged2 {
    display: none;
  }
  
  .barchanged3 {
    transform: rotate(45deg) translate(-1vh, -1vh);
    transition: transform 0.3s ease-in-out;
  }
