.stats {
    width: 5vw;
}

.stats::-webkit-meter-bar{
    background: none;
    background-color: grey;
    border: solid white 1px;
    height: 1em;
    border-radius: none;
}

.stats::-webkit-meter-optimum-value, .stats::-webkit-meter-suboptimum-value, .stats::-webkit-meter-even-less-good-value{
    background: none;
    background-image: linear-gradient( 90deg, 
                                     #641220 10%, 
                                     #6E1423 20%, 
                                     #85182A 30%,
                                     #A11D33 40%,
                                     #A71E34 50%,
                                     #B21E35 60%,
                                     #BD1F36 70%,
                                     #C71F37 80%,
                                     #DA1E37 90%,
                                     #E01E37 100%);
}

.details {
    font-size: smaller;
    text-align: center;
}

@media (max-width: 700px) {
  .responsive-column {
    display: flex;
    flex-direction: column;
  }
}