.generalButton {
    display: flex;
    position: absolute;
    align-self: flex-end;
    background-color: #E01E37;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: 900;
    width: 6vh;
    height: 5vh;
    cursor: pointer;

    &:hover {
        background-color: grey;
        color: black;
        border: 2px solid #E01E37;
    }
}

.img {
    width: 100%;
}